body {
	font-family: Courier, "Lucinda Console";
	font-size: 15px;
	background: url("cascades.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.section {
	font-size: 17px;
	font-weight: bold;
}

.stress {
	font-weight: bold;
}

#title {
	background-color: #EBEBFF;
	text-align: center;
}

#resume {
	background-color: white;
}

#bio {
	background-color: #EBEBFF;
	text-align: center;
}

.menu {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #EBEBFF;
}