body {
	font-family: Courier, "Lucinda Console";
	font-size: 15px;
	background-image: url("cascades.jpg");
	background-image: no-repeat;
	background-position: center;
}

.section {
	font-size: 17px;
	font-weight: bold;
}

.stress {
	font-weight: bold;
}

#title {
	background-color: #C6C6C7;
	text-align: center;
}

#resume {
	background-color: white;
}

#bio {
	background-color: #C6C6C7;
	text-align: center;
}

.menu {
	background-color: #C6C6C7;
}